@use 'src/lib/styles/colors';
@use 'src/lib/styles/fonts';

.header {
  margin-top: 2rem;
  text-align: center;

  :where(span, h1) {
    display: inline;
    font-size: 2.3rem;
    font-weight: normal;
  }

  h1 {
    color: colors.$gray3;
    font-family: 'Roboto Slab';
  }
}

.myNameIs {
  color: colors.$gray2;
  font-family: 'Gochi Hand';
  margin-right: 1ch;
}
